body {
    font-family: sans-serif;
    padding: 20px;
    background: #4d87ba;
}

.container {
    font-style: times New Roman;
    display: flex;
    gap: 20px;
}

.left, .right {
    width: 50%;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

textarea {
    width: 100%;
    height: 200px;
}

.task-card {
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    background: #e7e7e7;
}

.high { background: #ff9a9a; }
.medium { background: #ffe291; }
.low { background: #c2ffb3; }
